<?xml version='1.1' encoding='UTF-8'?>
<slave>
  <name>dev</name>
  <description></description>
  <remoteFS>/var/tmp</remoteFS>
  <numExecutors>1</numExecutors>
  <mode>NORMAL</mode>
  <retentionStrategy class="hudson.slaves.RetentionStrategy$Always"/>
  <launcher class="hudson.plugins.sshslaves.SSHLauncher" plugin="ssh-slaves@1.26">
    <host>10.0.2.15</host>
    <port>22</port>
    <credentialsId>dev-server</credentialsId>
    <maxNumRetries>0</maxNumRetries>
    <retryWaitTime>0</retryWaitTime>
    <sshHostKeyVerificationStrategy class="hudson.plugins.sshslaves.verifiers.NonVerifyingKeyVerificationStrategy"/>
  </launcher>
  <label>dev</label>
  <nodeProperties/>
</slave>